@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto);
  --color-navy: #1d2130;
  --color-yellow: #f2c94c;
  --color-yellow-bg: #fcedc6;
  --color-body: #525560;
  --color-footer-bg: #0b0706;
}

body {
  font-family: var(--font-roboto), Roboto, sans-serif;
  color: #525560;
  background: #fefdfcff;
}
